<a href="<%= newOrganizationPath %>">Agregar organización</a>

<% organizations.forEach(organization => { %>
  <div>
    <h2><%= organization.name %></h2>
    <p><%= organization.description %></p>
    <a href="<%= organizationPath(organization.id) %>">Ver más</a>
  </div>
<% }) %>
