.btn {
  display: block;
  text-align: center;
  border-radius: 0.25rem;
  padding: 15px;
  border: none;
  font-size: 1em;
  background-color: $savetalk-blue;
  color: white;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: darken($savetalk-blue, 10%);
  }

  &[disabled] {
    background-color: lighten($savetalk-gray, 50%);
    cursor: not-allowed;
  }
}
